#音声ファイル
*.m4a
*.ogg
*.png
*.psd
#desktop.iniというwindowsの設定用隠しファイル
desktop.ini

# ツクール本体が自動生成するスクリプト
# プラグインパラメータを保存したいのであれば、コメントアウト
/source/js/plugins.js
/source/data/System.json
/source/data/Test_*.json
# エディタ用の無視設定
/.vscode/
#セーブデータ
/source/save/
#デバッグ用の一時ファイル
/source/debug/
#その他リソース
/source/audio/
/source/img/
/source/fonts/
/source/icon/
/source/movies/

#メインのスクリプト
/source/js/libs/
/source/js/rpg_core.js
/source/js/rpg_managers.js
/source/js/rpg_objects.js
/source/js/rpg_scenes.js
/source/js/rpg_sprites.js
/source/js/rpg_windows.js


#自分のプラグインのみをコミット対象にする設定
#自作プラグインにプレフィックスなどを付けて、うまく制御してください。
/source/js/pluguins/*.js
!/source/js/pluguins/xx*.js

#VS code で javascript 環境を構築したときに生成するファイル
package.json
